.pol-img {
    width: 100%;
    margin: .5rem 0 1rem 0;
}

.pol-text {
    font-weight: bolder;
}

.instruction-text {
    margin: 0;
    border-color: #5f7d8b;
}

.instruction-text p {
    margin: 0;
}

.against-text {
    font-size: smaller;
    font-weight: lighter;
    color: #616161;
    margin-top: 10px;
}

.promise-text {
    font-weight: bolder;
}

.help-text {
    line-height: 1.4;
}

.select-promise {
    padding: 12px!important;
}

.select-promise .collection {
    margin: 0;
}

.radio-elem {
    margin-right: 15px;
}

#modal-title {
    text-align: center;
    margin-bottom: 20px;
}

