{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1 class="header center grey-text text-darken-2 flow-text my-style-bold">
    '테이블'은 KAIST 전산학부 <a href="https://kixlab.org" class="teal-text">Kixlab</a>에서 진행중인 <br/>
    선거 공약 기반 시민참여형 기술 연구 중 하나입니다.
</h1>

<div class="row">
    <div class="col m8 offset-m2 s12">
        <div class="card-panel blue-grey lighten-5">
            <p>당신이 지지하는 후보의 공약이 당신에게 이익을 줄까요?</p>
            <p>가상의 공약 토론에서 그 후보를 돕고, 당신과의 이해관계를 확인하세요.</p>
            <p>This interface is written in Korean for real distribution. I am really sorry to those who can not read in Korean.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col m8 offset-m2 s12 center">
        <p>[문의] <span class="teal-text">dong112d@kaist.ac.kr</span></p>
    </div>
</div>

{% endblock %}
