{% extends 'base.html' %}
{% block content %}

<h1 class="header center grey-text text-darken-2 flow-text my-style-bold">
    '테이블'에서는 공약과 사람의 관계를 토론합니다    
</h1>

<div class="row">
    <div class="col m6 offset-m3 s12">
        <div class="card-panel blue-grey lighten-5">
            <p>당신이 지지하는 후보의 공약이 당신에게 이익을 줄까요?</p>
            <p>가상의 공약 토론에서 그 후보를 돕고, 당신과의 이해관계를 확인하세요.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="center">
        <a href="/table/pilot/0" class="waves-effect waves-light btn light-green">시작하기</a>
    </div>
</div>

{% endblock %}
