{% extends 'base.html' %}
{% block content %}
{% load materializecss %}

<h1 class="header center grey-text text-darken-2 flow-text my-style-bold">
    {{header}}
</h1>

<div class="row">
    <form method="POST" class="col m8 offset-m2 s12">
        {% csrf_token %}
        {% if not is_choice %}
            {{form.as_p}}
        {% else %}
            {% for field in form %}
            <p>{{field.help_text|safe}}</p>
            {% for choice in field %}
            <p>{{ choice.tag }}
                <label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
            </p>
            {% endfor %}
            {% endfor %}
        {% endif %}
        <button class="btn waves-effect waves-light right" type="submit">
            {{btext}}
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>

{% endblock %}
